.navbar {
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray2;
  height: 100vh;

  &>*:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.brand {
  color: $white;
  padding-bottom: 1rem;
  border-bottom: 3px solid $white;
}

.user-section {
  display: flex;
  padding: 2rem;
  background-color: $dark-gray1;
  /*
   * This is a cheeky way to avoid having to remove padding on entire
   * navigation "thing".
   */
  margin: auto -2rem -2rem;

  h2.bp3-heading {
    color: $white;
  }

  .user {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;

    &>span {
      height: 3em;

      span>span {
        font-weight: 200;
        font-size: 1.5em;
      }
    }
  }
}

.logout-button {
  padding: 1.05em;
}

@media screen and (max-width: 1600px) {
  .navbar button .bp3-button-text {
    display: none;
  }
}